* {
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url('tech_news_cover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* top_navigation */
#top_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#top_navigation button {
    margin: 5px;
    padding: 10px;
    font-size: 17px;
    width: 170px;
    cursor: pointer;
    background-color: rgba(4, 51, 58, 0.9);
    color: aliceblue;
    border: none;
}
#top_navigation button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

/* heading */
#heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#heading h1 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 100px;
    color: white;
}

/* image */
#image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    opacity: 1.0;
    margin: 0 300px;
    border-radius: 20px;
}
#image img {
    height: 250px;
    width: 350px;
    border-radius: 10px;
}

/* marquee */
marquee {
    background-color: rgba(5, 5, 5, 0.8);
    color: aliceblue;
    padding: 10px;
    font-weight: bold;
    margin: 20px 0;
}

/* news */
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(4, 51, 58, 0.9);
}
.newContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.newContainer > p {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 25px 5px;
    padding: 5px;
    height: 100px;
    font-weight: bolder;
    border-radius: 10px;
}
.newContainer > img {
    height: 100px;
    width: 250px;
    border: 2px solid black;
    margin: 25px 5px;
    padding: 5px;
    color: white;
}

/* gotoTop */
.goToTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.goToTop button {
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.goToTop button:hover {
    background-color: rgba(254, 254, 254, 0.5);
    color: rgb(0, 0, 0);
    font-weight: bold;
}